# Java / Maven
target/
*.class
*.log
*.jar

# Node / Angular
node_modules/
dist/
.angular/

# Docker
*.env
.env

# OS / IDE junk
.DS_Store
Thumbs.db

# Eclipse / IntelliJ
.metadata/
.project
.classpath
.settings/
.idea/
*.iml

# Logs
logs/
*.log
